/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #7bdcb5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Cambié height a min-height para que la página sea scrollable si es necesario */
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1000px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px; /* Añadí un margen inferior para separar el formulario de la tabla de tareas */
}

input {
    margin-bottom: 15px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 12px 20px;
    border: none;
    background-color: #00d084;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #008a57;
}

/* Estilos para la tabla de tareas */
#task-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Añadí un margen inferior para separar la tabla de la paginación */
}

#task-table th,
#task-table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#task-table th {
    background-color: #f2f2f2;
    color: #333;
}

#pagination {
    margin-top: 20px; /* Añadí un margen superior para separar la paginación del resto de la interfaz */
}

#pagination button {
    margin-right: 10px;
    background-color: #00d084;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
}

#pagination button:hover {
    background-color: #008a57;
}

#page-number {
    font-size: 18px;
}

/* Estilos para el modal */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px; 
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px; 
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#task-table {
    width: 100%;
    overflow: auto;
}

.container-table {
    overflow: auto;
}

#task-table th,
#task-table td {
    width: calc(100% / 9);
}

#task-table {
    max-width: 100%;
}

td > button {
    width: 100px !important;
    margin: 5px 0;
}

.btn-editar {
    background-color: #ffc107 !important;
}

.btn-eliminar {
    background-color: #dc3545 !important;
}
